.page-hero {
  $transparentWhite: rgba(255, 255, 255, .5);

  overflow: hidden;
  position: relative;
  background: url(../images/hero.jpg) center center no-repeat, url(../images/hero-repeat.png) center center repeat-x;
  height: 425px;

  @media screen and (max-width: $breakpoint) {
    height: 300px;
  }

  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-post {

    background: rgba(0, 178, 134, 0.7);
    border-radius: 2px;
    padding: 45px 30px;
    width: 575px;

    @media screen and (max-width: $breakpoint) {
      width: 90%;
      padding: 15px;
    }

    input {
      font-size: 30px;
      width: 100%;
      border: 0;
      padding: 5px;
      color: $white;
      background: transparent;
      margin-bottom: 35px;

      // this solves a weird bug where having only one opaque border
      // causes that border to be semi-transparent
      $transparent: rgba(255, 255, 255, .01);

      &::-webkit-input-placeholder {
        color: $transparentWhite;
        border: 1px solid;
        border-color: $transparent $transparent $transparent $white;
        padding-left: 2px;
      }
      &::-moz-placeholder {
        color: $transparentWhite;
        border: 1px solid;
        border-color: $transparent $transparent $transparent $white;
        padding-left: 2px;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: $transparentWhite;
        border: 1px solid;
        border-color: $transparent $transparent $transparent $white;
        padding-left: 2px;
      }

      @media screen and (max-width: $breakpoint) {
        font-size: 20px;
      }
    }

    .add-button {
      color: $white;
      margin-right: 45px;
      opacity: .5;

      &:first-child {
        margin-left: 0;
      }

      svg {
        stroke: $white;
        width: 18px;
        height: 13px;
        margin-right: 9px;
      }

      &:hover,
      &:focus {
        opacity: 1;
      }

    }
  }

  .page-menu {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 575px;
    max-width: 95%;

    .action {
      font-size: 12px;
      display: inline-block;
      padding: 15px 10px;
      margin-right: 30px;
      color: $transparentWhite;
      text-transform: uppercase;
      font-weight: bold;
      border-bottom: 5px solid transparent;

      @media screen and (max-width: $breakpoint) {
        margin-right: 15px;
        padding: 10px 5px;
      }

      &.active {
        color: $white;
        border-bottom-color: $teal;
        outline: none;
      }

      &:hover,
      &:focus {
        color: $white;
      }
    }

    .action.view {
      float: right;
      border-bottom: 0;
      margin-right: 0;
      padding: 16px 8px;

      @media screen and (max-width: $breakpoint) {
        padding: 10px 5px;
      }

      svg {
        width: 16px;
        height: 16px;
        fill: $transparentWhite;
      }

      &.active svg,
      &:hover svg,
      &:focus svg {
        fill: $white;
      }
    }
  }
}
