$white: #ffffff;

$bright-teal: #4cffd2;
$light-teal: #00cc99;
$teal: #00b286;
$dark-teal: #007f60;

$bright-grey: #dee1e5;
$light-grey: #b5bdc1;
$dark-grey: #697074;
$light-black: #343d41;
$dark-black: #262728;

$bright-bluegrey: #dee1e5;
$light-bluegrey: #bec3cc;
$bluegrey: #70767f;
$dark-bluegrey: #303d4f;


$breakpoint: 600px;
