<div class="feed">
  <div class="page-hero">
    <div class="hero-content hero-post">
      <label for="post-msg" class="post-label" ng-hide="post.length > 0">What's on your Mind?</label>
      <input type="text" id="post-msg" ng-model="post" ng-enter="sharePost()">

      <button type="button" class="add-button">
        <svg role="img" title="">
          <use xlink:href="images/spritemap.svg#icon-photo"></use>
        </svg>
        Add Photo
      </button>

      <button type="button" class="add-button">
        <svg role="img" title="">
          <use xlink:href="images/spritemap.svg#icon-video"></use>
        </svg>
        Add Video
      </button>
    </div>

    <div class="page-menu" ng-init="active='all';view='list'">
      <button class="action" ng-class="{active: active=='all'}" ng-click="active='all'">All Posts</button>
      <button class="action" ng-class="{active: active=='photos'}" ng-click="active='photos'">Photos</button>
      <button class="action" ng-class="{active: active=='videos'}" ng-click="active='videos'">Videos</button>

      <button class="action view" ng-class="{active: view=='grid'}" ng-click="view='grid'">
        <svg role="img" title="View as Grid">
          <use xlink:href="images/spritemap.svg#icon-grid"></use>
        </svg>
      </button>
      <button class="action view" ng-class="{active: view=='list'}" ng-click="view='list'">
        <svg role="img" title="View as List">
          <use xlink:href="images/spritemap.svg#icon-list"></use>
        </svg>
      </button>
    </div>
  </div>

  <feed data="timeline"></feed>
</div>
