<div class="settings">
  <h1 class="page-title">Settings</h1>

  <h2 class="section-title">Account</h2>

  <div class="clearfix">
    <div class="avatar">
      <img src="/images/profile-lg.jpg" class="current-avatar">
      <button class="btn muted">change</button>
    </div>

    <div class="profile-details">
      <div class="form-item">
        <label for="full-name" class="visually-hidden">Full Name</label>
        <input type="text" id="full-name" ng-model="name">
        <button class="profile-save">Save</button>
        <svg role="img" title="">
          <use xlink:href="/images/spritemap.svg#icon-name"></use>
        </svg>
      </div>

      <div class="form-item">
        <label for="email" class="visually-hidden">E-mail Address</label>
        <input type="text" id="email" ng-model="email">
        <button class="profile-save">Save</button>
        <svg role="img" title="">
          <use xlink:href="/images/spritemap.svg#icon-email"></use>
        </svg>
      </div>

      <div class="form-item">
        <label for="pw" class="visually-hidden">Password</label>
        <input type="password" id="pw" ng-model="pw">
        <button class="profile-change" ng-click="changePassword=!changePassword">change</button>
        <svg role="img" title="">
          <use xlink:href="/images/spritemap.svg#icon-lock"></use>
        </svg>
      </div>

      <div class="form-item confirm" ng-show="changePassword">
        <label for="pw-confirm" class="visually-hidden">Confirm Password</label>
        <input type="password" id="pw-confirm" ng-model="pwconfirm">
        <button class="profile-save">Save</button>
        <svg role="img" title="">
          <use xlink:href="/images/spritemap.svg#icon-lock"></use>
        </svg>
      </div>
    </div>
  </div>

  <hr>

  <h2 class="section-title">Notifications</h2>

  <div class="form-item toggle">
    <input type="checkbox" id="faves" class="visually-hidden" checked="checked">
    <label for="faves">
      <div class="toggle-icon"></div>
      email me when my posts are marked as favorites
    </label>
  </div>

  <div class="form-item toggle">
    <input type="checkbox" id="mention" class="visually-hidden" checked="checked">
    <label for="mention">
      <div class="toggle-icon"></div>
      email me when I'm mentioned
    </label>
  </div>

  <div class="form-item toggle">
    <input type="checkbox" id="reply" class="visually-hidden" checked="checked">
    <label for="reply">
      <div class="toggle-icon"></div>
      email me when I get a reply
    </label>
  </div>

  <div class="form-item toggle">
    <input type="checkbox" id="follow" class="visually-hidden" checked="checked">
    <label for="follow">
      <div class="toggle-icon"></div>
      email me when someone follows me
    </label>
  </div>

  <hr>

  <h2 class="section-title">Privacy</h2>

  <fieldset>
    <legend class="visually-hidden">Tagging Settings</legend>

    <div class="form-item radio">
      <input type="radio" name="tagging" id="tag-anyone" checked="checked">
      <label for="tag-anyone">
        <div class="radio-icon"></div>allow anyone to tag me
      </label>
    </div>

    <div class="form-item radio">
      <input type="radio" name="tagging" id="tag-follow" checked="checked">
      <label for="tag-follow">
        <div class="radio-icon"></div>only allow people I follow to tag me
      </label>
    </div>

    <div class="form-item radio">
      <input type="radio" name="tagging" id="tag-none" checked="checked">
      <label for="tag-none">
        <div class="radio-icon"></div>don't allow anyone to tag me
      </label>
    </div>
  </fieldset>

  <div class="form-item radio">
    <input type="radio" name="location" id="location" checked="checked">
    <label for="location">
      <div class="radio-icon"></div>add a location to my posts
    </label>
  </div>

  <div class="form-item radio">
    <input type="radio" name="search" id="search" checked="checked">
    <label for="search">
      <div class="radio-icon"></div>let others find me by my email address
    </label>
  </div>

  <div class="form-item radio">
    <input type="radio" name="ads" id="ads" checked="checked">
    <label for="ads">
      <div class="radio-icon"></div>tailer ads based on my information
    </label>
  </div>

  <hr>

  <button class="btn">Save Changes</button>
</div>
